@media (max-width: 1300px) {

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .today-container{
        width: 100%;
      }
    
      .week-container{
       width:100%;
      }


}